
<table>
 	<thead>
 	<tr>
	<th class= '<%= sort_th_class_helper "name" %>'  >  
        <%= sort_link_helper "Title", "name" %>
    </th>
	
 	<th><%= image_tag "spinner.gif", :id => "spinner_sort", :class => 'image', :alt => "Spinner", :style => 'display:none;'%></th>
	
	<th  class= '<%= sort_th_class_helper "date" %>'>
        <%= sort_link_helper "Last Update", "date" %></th>
	<th  class= '<%= sort_th_class_helper "publish" %> center'>
        <%= sort_link_helper "Published?", "publish" %></th>
	
	</tr>
	</thead>
  <% for guide in @guides %>
    
	 <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
	   <td class= '<%= sort_th_class_helper "name" %>'  width ="45%">
   		  <%= truncate(h(guide.guide_name),:length => 65) %> 
		  <div class ="check_box">
		  <%for tab in guide.tabs%>
			 <%= check_box_tag(tab.tab_name, tab.id,session[:tabs].include?(tab.id.to_s) , :onclick => remote_function( :url => {:action => 'add_guide', :tid => tab.id})) %>
		  	 <%=tab.tab_name%><br />
   		  <%end%>
		  </div>
	   </td>
	    <td  width ="10%">
       	 	<%= link_to image_tag("/images/icons/document_preview.png", :title => 'View this guide', :alt => 'View guide', :border => 0),{ :controller => "srg", :action => 'index', :id => guide}, :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'],:class =>'right_space'  %>
	    </td>
	     <td class= '<%= sort_th_class_helper "date" %>'  width ="15%">
	     	 <%= guide.updated_at.to_date%>
	    </td>
        <td class="center"  width ="5%">
        <% unless guide.published? %>
    		<%= image_tag("/images/icons/Minus.png", :title => 'This guide is not published', :alt => 'publish this guide', :border => 0)%> 
        <%else%> 
            <%= image_tag("/images/icons/Plus.png", :title => 'This guide is published', :alt => 'unpublish this guide', :border => 0) %> 
        <%end%>
		</td>	
    </tr>
	 
 <% end %>
</table>
<div class="pagination">
<%if @guides.total_pages > 1%>
	<ul>
		<li><%=will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token)%></li>
	</ul>	  
<%end%>
</div>
