
<%= error_messages_for 'mod' %>
           <label for="topic" >Discussion Topic
		    <span class = 'more_help' onMouseover="fixedtooltip(COMMENTS_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
          </label> 
           <%= text_area(:mod, :topic, :class => "mceEditor") %>
            <p><strong>Number of Comments to Display</strong><span class="required">*</span>
		    <select name="mod[num_displayed]" class="page">
		      <%= options_for_select([3,5,8], @mod.num_displayed) %>
		    </select>
			 <span class = 'more_help' onMouseover="fixedtooltip(COMMENTS_NUM_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		   </p>
  
		<% unless /create_module/.match(request.request_uri) || @mod.comments.empty?%>
			    <label for="mod_comments" >Comments <span class = 'more_help' onMouseover="fixedtooltip(PAGE_COMMENTS_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
			     <%= link_to " delete all", {:controller => :comment,
				                                   :action => :purge_comments,
				                                   :resource_id => @mod.id},
				                                   :confirm => "Are you SURE you want to delete all comments?",
				                                   :method => :delete %>
				</label>
			    <div id="comment_list">
					      <%= render :partial => "comment/comments",
					        :locals => {:comments => @mod.comments,
					        :edit => true,
				            :num_characters => 9999} %>
			    </div>
		<% end %>
