<table cellpadding = "5" id="libraryfind_table">
  <tr>
    <td>
    <%= check_box_tag("targets[]", "g2",checked = checked?('g2'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_GENERAL, this, event,'125');" onMouseout="delayhidetip()">General</span>
    
	</td>  
    <td>
    <%= check_box_tag("targets[]", "g6", checked = checked?('g6'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_ARTICLES, this, event,'125');" onMouseout="delayhidetip()">Articles</span>
    </td>
    <td>
    <%= check_box_tag("targets[]","g4", checked = checked?('g4'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_BOOKS, this, event,'125');" onMouseout="delayhidetip()">Books and more </span>
    </td>
	 </tr>
	 
	  <tr>
    <td>
    <%= check_box_tag("targets[]", "g3", checked = checked?('g3'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_IMAGES, this, event,'125');" onMouseout="delayhidetip()">Images </span>
    </td>
    <td>
    <%= check_box_tag("targets[]", "g1", checked = checked?('g1')) %>
    <span class='more_help' onMouseover="fixedtooltip(LF_AGRICULTURE, this, event,'125');" onMouseout="delayhidetip()">Agriculture</span>
     </td>
    <td>
    <%= check_box_tag("targets[]", "g5", checked = checked?('g5'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_VETMED, this, event,'125');" onMouseout="delayhidetip()">Animal Sciences</span>
    </td>
     </tr>
   
   <tr>
	<td>
    <%= check_box_tag("targets[]", "g11", checked = checked?('g11'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_Anthropology, this, event,'125');" onMouseout="delayhidetip()">Anthropology</span>
    </td>
    <td>
    <%= check_box_tag("targets[]", "g16", checked = checked?('g16'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_APPARALS, this, event,'125');" onMouseout="delayhidetip()">Apparels and Textiles </span>
     </td>
  
    <td>
    <%= check_box_tag("targets[]",  "g21", checked = checked?('g21'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_ART, this, event,'125');" onMouseout="delayhidetip()">Art and Photography </span>
    </td>
	 </tr>
   
   <tr>
    <td>
    <%= check_box_tag("targets[]",  "g26", checked = checked?('g26'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_BIOLOGICAL, this, event,'125');" onMouseout="delayhidetip()">Biological Sciences </span>
    </td>
    <td>
    <%= check_box_tag("targets[]",  "g31", checked = checked?('g31'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_BUSINESS, this, event,'125');" onMouseout="delayhidetip()">Business</span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g36", checked = checked?('g36'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_COMMUNICATION, this, event,'125');" onMouseout="delayhidetip()">Communication Studies </span>
   </td>
   </tr>
   <tr> 
   <td>
    <%= check_box_tag("targets[]",  "g46", checked = checked?('g46'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_CS, this, event,'125');" onMouseout="delayhidetip()">Computer Science</span>
    </td>
    <td>
    <%= check_box_tag("targets[]",  "g41", checked = checked?('g41'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_COMPOSITION, this, event,'125');" onMouseout="delayhidetip()">Composition and Rhetoric </span>
    </td>
    <td>
    <%= check_box_tag("targets[]",  "g51", checked = checked?('g51'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_ISSUES, this, event,'125');" onMouseout="delayhidetip()">Current Issues </span>
    </td>
	 </tr>
   <tr> 
    <td>
    <%= check_box_tag("targets[]", "g56", checked = checked?('g56'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_ECOLOGY, this, event,'125');" onMouseout="delayhidetip()">Ecology and Wildlife </span>
     </td>
  
    <td>
    <%= check_box_tag("targets[]",  "g61", checked = checked?('g61'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_ECONOMICS, this, event,'125');" onMouseout="delayhidetip()">Economics</span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g66", checked = checked?('g66'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_EDUCATION, this, event,'125');" onMouseout="delayhidetip()">Education </span>
     </td>
	  </tr>
   <tr> 
      <td>
    <%= check_box_tag("targets[]",  "g67", checked = checked?('g67'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_ENGINEERING, this, event,'125');" onMouseout="delayhidetip()">Engineering and Applied Sciences </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g71", checked = checked?('g71'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_ENVIRONMENTAL, this, event,'125');" onMouseout="delayhidetip()">Environmental Sciences and Toxicology</span>
     </td>
   
    <td>
    <%= check_box_tag("targets[]",  "g76", checked = checked?('g76'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_ETHNIC, this, event,'125');" onMouseout="delayhidetip()">Ethnic Studies </span>
     </td>
	  </tr>
    
     <tr>  
    <td>
    <%= check_box_tag("targets[]",  "g77", checked = checked?('g77'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_EXERCISE, this, event,'125');" onMouseout="delayhidetip()">Exercise and Sport Sciences </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g82", checked = checked?('g82'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_FOOD, this, event,'125');" onMouseout="delayhidetip()">Food and Nutrition</span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g87", checked = checked?('g87'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_LANGUAGE, this, event,'125');" onMouseout="delayhidetip()">Foreign Languages and Literature </span>
     </td>
    </tr>
    
     <tr>  
    <td>
    <%= check_box_tag("targets[]",  "g91", checked = checked?('g91'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_FOREST, this, event,'125');" onMouseout="delayhidetip()">Forest and Natural Resource Management </span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g92", checked = checked?('g92'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_GEOSCIENCES, this, event,'125');" onMouseout="delayhidetip()">Geosciences </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g97", checked = checked?('g97'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_GOVINFO, this, event,'125');" onMouseout="delayhidetip()">GovInfo </span>
     </td>
	  </tr>
    
     <tr>  
      <td>
    <%= check_box_tag("targets[]",  "g101", checked = checked?('g101'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_DESIGN, this, event,'125');" onMouseout="delayhidetip()">Graphic Design</span>
     </td>
 
    <td>
    <%= check_box_tag("targets[]",  "g102", checked = checked?('g102'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_HDFS, this, event,'125');" onMouseout="delayhidetip()">HDFS </span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g107", checked = checked?('g107'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_HEALTH, this, event,'125');" onMouseout="delayhidetip()">Health Sciences/Pharmacy </span>
     </td>
	  </tr>
    
     <tr>  
      <td>
    <%= check_box_tag("targets[]",  "g112", checked = checked?('g112'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_HISTORY, this, event,'125');" onMouseout="delayhidetip()">History</span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g117", checked = checked?('g117'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_HISTSCIENCE, this, event,'125');" onMouseout="delayhidetip()">History of Science </span>
     </td>
    
    <td>
    <%= check_box_tag("targets[]",  "g122", checked = checked?('g122'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_HOUSING, this, event,'125');" onMouseout="delayhidetip()">Housing </span>
     </td>
	  </tr>
    
    <tr> 
    <td>
    <%= check_box_tag("targets[]",  "g127", checked = checked?('g127'))%>
   <span class='more_help' onMouseover="fixedtooltip(LF_HUMANITIES, this, event,'125');" onMouseout="delayhidetip()">Humanities</span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g132", checked = checked?('g132'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_INTERIOR, this, event,'125');" onMouseout="delayhidetip()">Interior Design </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g136", checked = checked?('g136'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_LAW, this, event,'125');" onMouseout="delayhidetip()">Law</span>
     </td>
    </tr>
    
    <tr>  
    <td>
    <%= check_box_tag("targets[]",  "g141", checked = checked?('g141'))%>
   <span class='more_help' onMouseover="fixedtooltip(LF_LINGUISTICS, this, event,'125');" onMouseout="delayhidetip()">Linguistics </span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g142", checked = checked?('g142'))%>
   <span class='more_help' onMouseover="fixedtooltip(LF_LITERATURE, this, event,'125');" onMouseout="delayhidetip()">Literature </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g147", checked = checked?('g147'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_MATHEMATICS, this, event,'125');" onMouseout="delayhidetip()">Mathematics</span>
     </td>
	  </tr>
    <tr> 
      <td>
    <%= check_box_tag("targets[]",  "g151", checked = checked?('g151'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_MERCHANDISING, this, event,'125');" onMouseout="delayhidetip()">Merchandising </span>
     </td>
   
    <td>
    <%= check_box_tag("targets[]",  "g152", checked = checked?('g152'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_MILITARY, this, event,'125');" onMouseout="delayhidetip()">Military Science </span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g157", checked = checked?('g157'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_MUSIC, this, event,'125');" onMouseout="delayhidetip()">Music</span>
     </td>
	  </tr>
    
    <tr>  
      <td>
    <%= check_box_tag("targets[]",  "g162", checked = checked?('g162'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_NEWSPAPERS, this, event,'125');" onMouseout="delayhidetip()">Newspapers </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g166", checked = checked?('g166'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_OCEANOGRAPHY, this, event,'125');" onMouseout="delayhidetip()">Oceanography </span>
     </td>
    
    <td>
    <%= check_box_tag("targets[]",  "g167", checked = checked?('g167'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_OUTDOOR, this, event,'125');" onMouseout="delayhidetip()">Outdoor Recreation, Leadership and Tourism</span>
     </td>
	 </tr>
    
    <tr>  
    <td>
    <%= check_box_tag("targets[]",  "g172", checked = checked?('g172'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_PEACE, this, event,'125');" onMouseout="delayhidetip()">Peace Studies </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g177", checked = checked?('g177'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_PHILOSOPHY, this, event,'125');" onMouseout="delayhidetip()">Philosophy of Science </span>
     </td>
	   
      <td>
    <%= check_box_tag("targets[]",  "g182", checked = checked?('g182'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_RELIGION, this, event,'125');" onMouseout="delayhidetip()">Philosophy, Religion and Ethics</span>
     </td>
    </tr>
    
    <tr> 
    <td>
    <%= check_box_tag("targets[]",  "g187", checked = checked?('g187'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_PHYSICALSCI, this, event,'125');" onMouseout="delayhidetip()">Physical Sciences </span>
     </td>
	
    <td>
    <%= check_box_tag("targets[]",  "g192", checked = checked?('g192'))%>
     <span class='more_help' onMouseover="fixedtooltip(LF_POLITICAL, this, event,'125');" onMouseout="delayhidetip()">Political Science </span>
     </td>
      <td>
    <%= check_box_tag("targets[]",  "g196", checked = checked?('g196'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_PSYCHOLOGY, this, event,'125');" onMouseout="delayhidetip()">Psychology</span>
     </td>
	   </tr>
    
    <tr> 
      <td>
    <%= check_box_tag("targets[]",  "g197", checked = checked?('g197'))%>
       <span class='more_help' onMouseover="fixedtooltip(LF_SOCIAL, this, event,'125');" onMouseout="delayhidetip()">Social Sciences </span>
     </td>
   
    <td>
    <%= check_box_tag("targets[]",  "g202", checked = checked?('g202'))%>
    <span class='more_help' onMouseover="fixedtooltip(LF_SOCIOLOGY, this, event,'125');" onMouseout="delayhidetip()">Sociology </span>
     </td>
    <td>
    <%= check_box_tag("targets[]",  "g211", checked = checked?('g211'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_THEATRE, this, event,'125');" onMouseout="delayhidetip()">Theatre</span> 
     </td>
	  </tr>
    
    <tr>  
      <td>
    <%= check_box_tag("targets[]",  "g216", checked = checked?('g216'))%>
       <span class='more_help' onMouseover="fixedtooltip(LF_WATER, this, event,'125');" onMouseout="delayhidetip()">Water and Watersheds </span>
     </td>
	 
      <td>
    <%= check_box_tag("targets[]",  "g217", checked = checked?('g217'))%>
      <span class='more_help' onMouseover="fixedtooltip(LF_WOMEN, this, event,'125');" onMouseout="delayhidetip()">Women Studies </span>
     </td>
    </tr>
  </table>