<fieldset>
	 <h3 class='title'> 
	<%=render :partial => 'title_actions'%>
	</h3>
	<h4>
		<%=link_to "Add To/Used On", :controller => 'module', :action =>'manage', :id => @mod.id, :type => @mod.class %> >> Add to Tutorials
	</h4>
	<% if flash[:error] -%>
	  <div id ="error_wrapper">    <div id="list_error" ><%= flash[:error] %></div></div>
	<% end -%>

<p> Check the box next to the unit you want to add the module to.</p>
<%unless @tutorials.size <1%>
	 	<% form_tag :action => 'add_to_tutorial', :id => @mod.id, :type => @mod.class do%> 
	        
		<div id="product-list" >
		
			<div id="table">
		   
			 <%=render :partial => "add_tutorial_list"%>
	
			</div>
		</div>
		
		
		<div><%= submit_tag 'Add Module', :class=> "submit" %></div>
		
		<%end%>

<%else%>
	<p><b>You do not have any Tutorials to add to. </b></p>
<%end%>

</fieldset>

