<div id="new_button" class="new">
		    <a href="#" onclick="$('new').toggle();$('new_button').toggle();; return false;">
	    <span>
	        <img src="/images/icons/add.png" alt="Create New Module" />
	        Create New Unit
	    </span></a>
	</div>
	 <div id="new" style="display:none">
	 <% form_tag :controller => 'unit', :action => 'create' do%>
	    <%= error_messages_for 'unit' %>
		<div id="vertical_inputs" class="index">
			<h5>New Unit </h5><span class = 'more_help' onMouseover="fixedtooltip(MOD_TITLE_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span></label>
				  <%= link_to_function 'cancel', "$('new').toggle();$('new_button').toggle();; return false;" %>
				<span <%= %(class="required") if flash[:unit_title_error] %>>
  				<label for="page_course_name">Unit Name<span class="required more_help">*</span></label>
  				 <%= text_field 'unit', 'title',"size" => 45 , :value => flash[:unit_title]   %>
			</span>
			<span><label>&nbsp;</label><%= submit_tag 'Create Unit' %></span>
		<br />
		</div>	
	 <%end%>
	</div> 	