<%= error_messages_for 'user' %>
    <fieldset>
      <h3>My Account</h3>
	  <div id ='share'>
	  	<fieldset>
        <h4>Edit Your Account Information</h4>
       
           <%= render :partial => 'account_info' %>
     </fieldset>
           <br /><br />
      <fieldset>

        <h4>Change Your Password</h4>
        
           <%form_tag :action => 'my_account' do%>
            <label for="user_password">New Password</label>
            <%= password_field "user", "password", :size => 54, :value=>"" %>
      
      
            <label for="user_password_confirmation">Confirm Password</label>
            <%= password_field "user", "password_confirmation", :size => 54, :value=>"" %>
      
            <br />  <br />
            <%= submit_tag "Change Password", :class => "submit"  %>
      
         </fieldset>
        <% end%>
        
         <p>
            <b><%= link_to 'Cancel', :action => 'index' %></b>
         </p>
		 </div>
</fieldset>
