<%= render :partial => 'ort/top'%>

<div id="content">
	<!--<div id="item-corner"></div>-->
	<div id="content-column2">
		<div class="item"><div class="item2"><div class="item3">
			<h2>Register</h2>
			<p>
				New to <b><%=@tutorial.full_name%></b>? <br />
				<%=link_to 'Create an Account', {:controller => 'student', :action => 'create_account', :id =>@tutorial}%>
	        </p>
		</div></div></div>
	</div>
	
	
	
		
		<div id="content-column1">
			<h3>Log in</h3>
			<% if flash[:notice] -%>
          		 <div id="notice" ><%= flash[:notice] %></div>
   			<% end -%>
			<p></p>
			<% form_tag :controller =>"student", :action=>'login', :id =>@tutorial.id do%>
				<label for="onid">Username</label>
	            <%= text_field "student","onid", :size =>25 %>
				<div class='tip'>e.g. smithj</div>
	            <label for="email">Email</label>
	            <%= text_field "student","email", :size =>25 %>
				<div class='tip'>e.g. smithj@mail.edu</div>
	            <br />
	            <%= submit_tag 'Login', :class => 'submit' %> 
	       <% end %>
		   <%=link_to 'Forgot Username', {:controller => 'student', :action => 'forgot_password', :id =>@tutorial}%>
		<!-- end content-column1 -->
	</div>	
	<div id="content-column1">
		<h3>Why Log in?</h3>
		<p>This tutorial requires you to log in so that you can that you can take the graded quizzes.  
		Your scores will then be submitted to your instructor.  Please log in with your <b>username and email address</b>. 
		</p>
	<!-- end content-column1 -->
	</div>
	
<!-- end content -->
<div class="bot"><div></div></div></div>
