<h1><%=@tutorial.full_name%></h1>
<p>Name: <%=@student.name%><br />Onid: <%=@student.onid%><br />Section: <%=@student.sect_num%></p>
<h2>Tutorial Quizes</h2>
<h4>Total Score: <%=@student.final_score%> out of <%=@tutorial.possible_score%></h4>
		<div id="quizes">
			<%@quizes.each do |quiz|
			total = 0%>
			<fieldset>
			<h4><%=quiz.module_title%></h4>
			<%results = @student.get_results(quiz.id)%>
				<%results.each do |result|%>
				   <%question = quiz.questions.find(result[0])%>
				   <label><%=question.question%></label>
				 <ul>
				  <li>
					 <label>Answer: </label> <%=question.correct_answer%>
					  <br /> <label>Your Answer: </label><%=h result[1]%>
					  <%unless question.points == 0%><br /> <label>
						 <%=result[2]%>
						 out of <%=h question.points%></label> 
					<%end%>	
				 </li> 	 
				</ul>  
				   <% total = result[2] + total %>
				<%end%>
				
				<h5>Score: <span class="required"><%=total%> / <%=quiz.possible_points%></span> </h5>
				<p> Taken on: <%=@student.taken_on.to_formatted_s(:long)%></p>
			</fieldset>	
			<%end%>
		</div>