<div id="main">
<h1><%=@local.tutorial_page_title %> </h1>
<div id="content">
<!--<div id="item-corner"></div>-->

<div class="item">
	<h2>Browse by Tag Results</h2>

	<div class="module">
		<p> Tutorials tagged with <strong><%=@tag%></strong></p>
		<ul class = 'indent-left'>
		<%@tutorials.each do |tutorial|%>
			<li class = 'undeco'><%=link_to h(tutorial.full_name), :controller => 'ort', :action => 'index', :id => tutorial%>
				<br />
					<div class="no-image"><%= tutorial.description %></div>
				    <small><b>Tags: </b><% tutorial.tag_list.each do |tag|%> <%= link_to tag, { :action => :tagged, :id => tag }%>  <%end%></small>
			</li>
       <%end%>
		</ul>
		<p><%=image_tag("/images/icons/back.png", :title => 'Back to Tutorials', :alt => 'Back')%> <a href ="/tutorials/">Back to all Tutorials</a></p>
   </div>
   <div class="bot"><div></div></div>
</div>


<div class="item">
<%= render :partial => '/shared/tag_cloud'%>
</div>
	
</div></div>

<div id="sidebar-right">
<%= render :partial => '/shared/right_side'%>
</div> <!-- end sidebar-right -->

<div id="sidebar-left"><div id="sidebar-left-inner">
	<%= render :partial => '/shared/left_side'%>
</div></div> <!-- end sidebar-left-inner, end sidebar-left -->


