<%= render :partial => 'ort/top'%>
<div id="content">
	<!--<div id="item-corner"></div>-->
	<h2 class="no-bar"><%=@unit.title%></h2>
	
	<div id="content-column">
		<div><%=@unit.description%></div>
		<div class="start"><%=link_to 'Start', :controller => 'ort', :action => 'start', :id => @tutorial, :uid => @unit.id %></div>
	<!-- end content-column1 -->
	</div>
		
		<div id="update">   
		<p> <%if  @unit.tag_list.length > 0 %> Tagged with: <% @unit.tag_list.each do |tag|%> <%= link_to tag, { :action => :tagged, :id => tag }%><%end%> <%end%></p>
		<p>	Last Update: <%=@unit.updated_at.to_formatted_s(:long)%> </p>
		</div>
<!-- end content -->
<div class="bot"><div></div></div></div>
