<table>
 	<%=render :partial => "guide/t_head"%>	
  <% for guide in @search_results %>
     <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" id="row<%= guide.id %>">
        <td class="center"  width ="5%">
       	<%if guide.users.length < 2%>
		  <%= link_to image_tag("/images/icons/user_add.png", :title => 'Click to share this guide', :alt => 'Share', :border => 0), :controller => 'guide', :action => 'share', :id => guide %>
		<%else%>
		  <%= link_to image_tag("/images/icons/users.png", :title => 'This Guide is Shared. Click to share this guide with others.', :alt => 'Share', :border => 0), :controller => 'guide', :action => 'share',  :id => guide %>
		<%end%>
       </td>
	   <td class= '<%= sort_th_class_helper "name" %>'  width ="40%"><%= truncate(h(guide.guide_name),:length => 65) %>
	   </td>
	  <td  width ="15%">
       	<%= link_to image_tag("/images/icons/edit.png", :title => 'Edit this Guide', :alt => 'Edit', :border => 0), {:controller => 'guide',:action => 'edit',  :id => guide },:class =>'space'%> 
		| <%= link_to image_tag("/images/icons/document_preview.png", :title => 'Preview this Guide in a New Window', :alt => 'preview', :border => 0), { :controller => "srg", :action => 'index', :id => guide, :tab => session[:current_tab]}, :popup => ['', 'height=800,width=980,toolbar=yes, scrollbars =yes,resizable=yes'], :class =>'space'%>
 		| <%= link_to image_tag("/images/icons/application_add.png", :title => 'Copy this guide', :alt => 'Copy Guide', :border => 0),{:controller => 'guide', :action => 'copy',  :id => guide},:class =>'space' %> 
		| <%= link_to_remote image_tag("/images/icons/remove.png", :title => 'Delete this guide', :alt => 'delete', :border => 0), {:url => { :controller => 'guide',:action => 'destroy', :id => guide, :page => @page, :sort => @sort , :search => @search_term},:update => "row#{guide.id}" , :confirm => 'Are you sure you want to delete this guide from your list?'},
			:href => url_for(:action => 'destroy', :controller => 'guide',:id => guide, :page => @page, :sort => @sort, :search => @search_term),:class =>'space', :method => :post %>
       </td>
       <td class= '<%= sort_th_class_helper "date" %>'  width ="15%"> <%= guide.updated_at.to_date%></td>
        <td class="center"  width ="5%" id="publish<%= guide.id %>">
			<%=render :partial => "guide/publish" ,:locals => {:guide => guide, :page => @page, :sort => @sort, :search => @search_term} %>			
		</td>
    </tr>
 <% end %>
</table>
<div class="pagination">
<%if @search_results.total_pages > 1%>
	<ul>
		<li><%=will_paginate @search_results, :params => params.merge({:sort=> @sort}).except(:authenticity_token)%></li>
		<li><%= image_tag "spinner.gif", :id => "spinner_links", :class => 'image', :alt => "Spinner", :style => 'display:none;'%></li>
	</ul>	  
<%end%>
</div>