<!--Library a la Carte Tool (TM).-->
<!--Copyright (C) 2007 Oregon State University-->
<!--See license-notice.txt for full license notice-->

<fieldset>
	<h3>Edit <%=h @master.value%></h3>
	<% if flash[:error] -%>
	  <div id ="error_wrapper">    <div id="list_error" ><%= flash[:error] %></div></div>
	<% end -%>
	<%= error_messages_for 'master' %>
	<% form_tag :action => 'edit_master' ,:id => @master do %>
 	   	<label for="value"><span class="required">*</span>Master Subject Name</label>
    	<%= text_field 'master', 'value'%>
		
		 <div id="submit_button">
	      <%= submit_tag 'Save Master Subject', :class=>"submit"%>
		  </div> 
	<%end %>
	<p>
 	 <%= link_to 'Cancel', :action => 'masters' %>
	</p>
</fieldset>