<fieldset>
<h3> Subject Guides for <%=h @user.name%></h3>
<% if flash[:notice] -%>
	   <div id="error_wrapper">   <div id="notice" ><%= flash[:notice] %></div></div>
	<% end -%>
<p>Total Guides: <%=@count%></p>
<div id="product-list" >
<table>
 <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>" >
  
    <th> Title </th>
    <th> Last Update </th>
    <th> Published </th>
    <th> Actions </th>
  </tr>
  
<% for guide in @guides %>
  <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>" >
    <td><%= link_to h(guide.guide_name),{ :controller => "srg", :action => 'index', :id => guide} %></td>
    <td><%=h guide.updated_at%></td>    
    <td><%=h guide.published %></td>
    <td><%= link_to 'Assign', { :controller => "admin", :action => 'assign_guide', :id => guide} %>  | <%= link_to 'Archive', { :action => 'archive_guide', :id => guide}, :confirm => 'Are you sure you want to archive this guide?', :method => :post %>
	| <%= link_to 'Delete', { :controller => "admin", :action => 'destroy_guide', :id => guide}, :confirm => 'Are you sure you want to delete this guide?', :method => :post %></td>
  </tr>
<% end %>
</table>
</div>

<p>
 <b><%= link_to 'Back to Users', :action => 'users' %></b></p>
</fieldset>