<fieldset>
	<h2>Customizations</h2>
	<p><b>View:</b> <%= link_to "Course Guide Template" , :controller => 'ica', :action => 'published_pages'%> | <%= link_to "Subject Guide Template" , :controller => 'srg', :action => 'published_guides'%> | 
	<%= link_to "Tutorial Template" , :controller => 'ort', :action => 'published_tutorials'%>
	</p>
	<p>
	
	   <% for column in Local.content_columns %> 
         <%unless @local.send(column.name).blank? || column.human_name == 'Types'%><b><%= column.human_name %>:</b>  <%=h @local.send(column.name) %> <br /><%end%>
	  <%end%>
	
	</p>
	<p><b>Edit:</b> <%= link_to "Template" , :controller => 'admin', :action => 'customize_layout'%> | <%= link_to "Search" , :controller => 'admin', :action => 'customize_search'%> | 
	<%= link_to "Content Types" , :controller => 'admin', :action => 'customize_content_types'%>
	</p>
	
</fieldset>