<%@mod.questions.uniq.each do |question|%>

<div class="question" id = "item_<%=question.id%>""> 
<div id="questions">
	   	<fieldset>
			<div id="ex_question_<%=question.id%>" >
			    <h4>
						<%=link_to "Edit Question", {:controller => 'quiz', :action => 'edit_question', :id =>@mod, :qid => question.id}, :title =>question.question%>
			            |
					    <%= link_to_remote image_tag("/images/icons/remove.png", :title => 'Click to remove this question', :alt => 'Remove', :border => 0), :url => {:controller => 'quiz', :action => 'remove_question', :id => @mod, :qid => question} %>
					  <span class = 'handle'>
						   <%=image_tag("/images/icons/move.png", :title => 'Drag and Drop', :alt => 'Drag and Drop', :border => 0)%> 
				     </span>
				</h4>	
				<div id="more_q_<%=question.id%>" style="display:block; margin-top:.5em;">
				<strong><span class="no=image"><%=question.question%></span></strong>
				<label>Type:</label>  <%=question.quiz_type%> <br />
				<label>Points:</label> <%=question.points%> <br />
				<%unless (question.q_type == 'TF' || question.q_type == 'FW') and question.answers.length > 0%>
					<label>	<%=link_to image_tag("/images/icons/add.png", :title => 'Click to add an answer', :alt => 'add', :border => 0)+'Add Answers', :controller => :quiz, :action => 'edit_answer', :id => @mod, :qid => question.id%></label>	   
				<%end%>	
				<div id ='answer_container<%=question.id.to_s%>'>
						<%=render :partial => '/quiz/answers',  :locals => {:question => question} %>
			   </div>
					  
					  <%= sortable_element 'answer_container'+question.id.to_s, 
	  						:tag => 'div',
			                :url => {:controller => 'quiz', :action => "sort_answers", :id => @mod, :qid => question}, 
			                :complete => visual_effect(:highlight, 'answer_container'+question.id.to_s), 
			                :handle => 'handle',
			                :containment => ['answer_container'+question.id.to_s], 
			                :constraint => false %>	
			
				</div>	
				<br /><%=link_to_function("Hide details", nil, :id => 'more_q_link_'+question.id.to_s) do |page|
								   page.visual_effect(:toggle_blind,"more_q_#{question.id}")
								   page << "if($('more_q_#{question.id}').visible()){"
								   page.replace_html 'more_q_link_'+question.id.to_s, "Show details"
								   page << '}else{'
								   page.replace_html 'more_q_link_'+question.id.to_s,  "Hide details"
								   page << '}'
								  end
								%>
			</div>			   
			   
		  </fieldset>
 </div>
				
 </div>

<%end%>