   <h2><%=h @mod.module_title%></h2>
   <div class="module">
	    <ul class="undeco">
			    <%unless @mod.librarian_name.blank?%><li><strong> <%=h @mod.librarian_name%> </strong></li><%end%>
				<%unless @mod.image_info.blank?%><li><%= @mod.image_info%></li><%end%>
				<%unless @mod.office_hours.blank? %><li>Office Hours: <%=h @mod.office_hours%></li><%end%>
				<%unless @mod.office_location.blank? %><li>Office Location: <%=h @mod.office_location%></li><%end%>
				<%unless @mod.chat_info.blank? and @mod.email.blank? %><li>Contact Info: <br />
				<%unless @mod.chat_info.blank?%><%=@mod.chat_info%><br /><%end%><%=mail_to @mod.email, truncate(@mod.email,:length => 30), :encode => "javascript"%></li><%end%>
				<%unless @mod.chat_widget.blank?%><li><br /><%= @mod.chat_widget%></li><%end%>
			</ul>
   </div>