   <h2><%=h @mod.module_title%></h2>
   <div class="module">
	    <ul class="undeco">
			    <%unless @mod.librarian_name.blank?%><li><strong> <%=h @mod.librarian_name%> </strong></li><%end%>
				<%unless @mod.image_info.blank?%><li><%= @mod.image_info%></li><%end%>
				<%unless @mod.office_hours.blank? %><li>Office Hours: <%=h @mod.office_hours%></li><%end%>
				<%unless @mod.office_location.blank? %><li>Office Location: <%=h @mod.office_location%></li><%end%>
				<%unless @mod.chat_info.blank? and @mod.email.blank? %><li>Contact Info: <br />
				<%unless @mod.email.blank?%><%=mail_to @mod.email, truncate(@mod.email,:length => 30), :encode => "javascript"%><%end%>
				<%unless @mod.chat_info.blank?%><br /><%=@mod.chat_info%><%end%></li><%end%>
				<%unless @mod.chat_widget.blank?%><li><%= @mod.chat_widget %>
				<noscript>You must have javascript enabled</noscript><noembed>You must allow embedded content.</noembed>
				<%end%></li>
			</ul>
   </div>