<!--Library a la Carte Tool (TM).-->
<!--Copyright (C) 2007 Oregon State University-->
<!--See license-notice.txt for full license notice-->

<% @results ||= results %>
<% @mod ||= mod %>
<% if @results and !@results.empty? %>
  <% if @results.first[:course] %>
      <div id="catalog_title">
       <div class="reserves_results">
       <p>
       	There is more than one result for <b> <%= @query%>.</b>
        Click on the correct title
		</p> 
         <%= image_tag "spinner.gif", :id => "spinner_ambig", :class => 'image', :alt => "Spinner", :style => 'display:none;'%>
      
          <div id="ambiguous_reserved_titles">
            <ul class="undeco list">
              <% @results.each do |r| %>
                <% course = r[:course].scan(/\>(.*?)\</) %>
                <li><%= link_to_remote course, :loading => "Element.show('spinner_ambig')", :complete => "Element.hide('spinner_ambig')", :url => {:controller => :book, :action => :retrieve_results, :title => r[:course] ,:id =>@mod}, :update => "catalog_title" %></li>
              <% end %>
            </ul>
          </div>
        
          </div>
      </div>
    <% else %>
      <div class="results_results">
        
          <p class="bolded">Result for <%= @title%> 
          <span class = 'more_help' onMouseover="fixedtooltip(BOOK_RESULTS_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
         </p>
          <div ="result">
          	<%= render :partial => "/book/show_catalog_titles", :locals => {:results => @results} %>
         </div>
   <% end %>
<% else %>
   <div id="results">  
      <p class="results_results">There are no results for <b><%= @query%></b></p>
   </div>
 
<% end %>
     