<!-- local customization -->	    
		  <%unless @local.guide_box.blank?%>
			<div class="item"><div class="item2">
				<div class='module'>
					<%=@local.guide_box%>
				</div>
		   </div></div>
   		<%end%>
<!-- Contact Modules -->		
		<%if @mod%>
			<div class="item"><div class="item2">
			 <%=show_mod(@mod)%> 
		   </div></div>
	    <%end%>	
   <!-- Page Description -->	
		<%unless @page.page_description.blank?%>
			<div class="item"><div class="item2">
			<h2>About this Guide</h2>
			<div class='module'>
				<%= h @page.page_description%>
			</div>
		   </div></div>
	    <%end%>	
	<!-- Related Guides -->	
		<%if @local.guides_list.include?('guides')%>
			<div class="item"><div class="item2">
				<h2><div class="expandable"><span id="guide1-title" class="iconspan"><img src="/images/open.png" alt="click to close" /></span>
				Related Guides</div></h2>
				<div class='module'>
					<div id="guide1" class="guide_list"> 
					<ul class="undeco">
					<%@related_guides.each do |guide|%>
						<%guide_url = url_for :controller => 'srg', :action => 'index', :id => guide%>
			   			<li><%= link_to h(guide.guide_name), guide_url, :title => "#{h(guide.description)}" %></li>  
					<%end %>
					</ul></div>
					<ul class="undeco">
						<li><a href ="/subject-guides/"><%=@local.guide_page_title %> </a></li>
						<li><a href ="/course-guides/"><%=@local.ica_page_title %> </a></li>
					</ul>
				</div>
			</div></div>
		<%end%>
	<!-- Social -->		
		<div class="item"><div class="item2">
		   <div class='module'>
			<%if @owner%>
				<%=image_tag("/images/icons/comment.png", :alt => 'Email Guide Owner')%><%=mail_to @owner.email, "Comments?", :encode => "javascript"%>
				<br />
			<%end%>
		    <img src="/images/icons/rss.png" alt="Subcribe to RSS" /> <%= link_to "RSS Feed" , :action => 'feed', :id => @page %>
			<br />
			<!-- AddThis Bookmark Button BEGIN -->
                <img src="/images/icons/add_big.png" alt="add to bookmark"  />  <a href="http://www.addthis.com/bookmark.php" onclick="window.open('http://www.addthis.com/bookmark.php?pub=K5BL6TCHWBD1PZUI&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'addthis', 'scrollbars=yes,menubar=no,width=620,height=520,resizable=yes,toolbar=no,location=no,status=no'); return false;" title="Bookmark using any bookmark manager!">Bookmark This</a>
            <!-- AddThis Bookmark Button END -->
			
		  </div>	
		</div></div>
	
		<script type="text/javascript">
//<![CDATA[

var subject=new switchicon("guide_list", "div") //Limit scanning of switch contents to just "div" elements
subject.setHeader('<img src="/images/open.png" alt="click to close" />', '<img src="/images/closed.png" alt="click to open" />') //set icon HTML
subject.collapsePrevious(false) //Allow only 1 content open at any time
subject.setPersist(true) //No persistence enabled
subject.init()
//]]>
</script>

