<fieldset>
<h3 class='title'> <%=render :partial => 'title_actions'%></h3>
<h4>Edit Guide</h4>
<div id="add_tab">
	<div id="new_button" class="new">
	    <a href="#" onclick="$('tab_new').toggle();$('new_button').toggle();; return false;">
        <span>
	        <img src="/images/icons/add.png" alt="Add Tab" />
	        Add New Tab
	    </span></a>
    </div>


	 <div id="tab_new" style="display:none">
	 	 <% form_tag :controller => 'tab', :action => 'create' do%>
	 		<%= error_messages_for 'tab' %>
			<label>Tab Title  <%= link_to_function 'cancel', "$('tab_new').toggle();$('new_button').toggle();; return false;" %></label> 
			 <%= text_field 'tab', 'tab_name',"size" => 12%>
			 <%= submit_tag 'Create' %>
			
	     <%end%>
	</div>
</div>	
<div id = "tab_content">
   <%=render :partial => 'guide/edit_tab' %> 
</div>

 <%=render :partial => 'side_bar'%>
</fieldset>