<% if flash[:notice] -%>
	  <div id="list_error" ><%= flash[:notice] %></div>
<% end -%>

<div id="page-list">	
	<div id="new_button" class="new">
	    <a href="#" onclick="$('new').toggle();$('new_button').toggle();; return false;">
	    	<span>
	        <img src="/images/icons/add.png" alt="Create New Guide" />
	        Create New Guide
	    </span></a>
   </div>
	
	 <div id="new"  style="display:none">
	<% form_tag :action => 'create', :id => @guide do%>
	<%= error_messages_for 'guide' %>
		<div id="vertical_inputs" class="index">
			<h4>Create Guide<span class="more_help" onMouseover="fixedtooltip(GUIDE_TITLE_MSSG, this, event, '125');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span> 
			  <%= link_to_function 'cancel', "$('new').toggle();$('new_button').toggle();; return false;" %></h4>
			  <%=render  :partial => "guide_title"%>  
			<span><label>&nbsp;</label><%= submit_tag 'Create Guide' %></span>
			<br />  
		</div> 
	<%end%>
	</div> 	
	
	<%unless @guides.size <1%>
		<div id ="second_tabs">
		<ul id="second_tabs">
			<% if @local.enable_search? %>
			<li  class = 'current'>	
				<% form_tag :controller => 'search', :action => 'search_guides' do%>	
			  		<%= text_field 'mod', 'search',"size" => 35, 
						 :style => "color:#aaa;",
	     				 :value => @search_value,
	      				 :onfocus => "if(this.getValue()=='#{@search_value}'){this.clear();this.style.color = '#000';}",
	     				 :onblur => "if(this.getValue()==''){this.setValue('#{@search_value}');this.style.color = '#aaa';}"%>
					<%= submit_tag 'Search' %>
				<%end%>
			</li>
			<%end%>
			  <li class="guide_pag pagination">
				<%if !@all and @guides.total_pages > 1%>
				<%= will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false %>	  
			<%end%>
		</li>
		</ul>
	</div>	
	<div class="clearer"></div>	
		<div id="product-list" >
		<div id="table">
		   <%=render  :partial => "guides_list"%>  
		</div>
		</div>
	<%else%>
		 <div id="notice" > You currently have no Guides. Create a new guide to get started. </div>
	<%end%>
</div>