	<div id='main'>
	 <h1><%=h(@guide.guide_name)%></h1>
		 <div id="sidebar-left">
	       <%= render :partial => 'left_side_bar'%>
	     </div> <!-- end sidebar-left -->
		 
		 <a id="skip" name="skip"></a>
		 <% if @tabs.length > 1 %>
			<div id="tabs">
		      <ul>
				<% for tab in @tabs%>
				<% @tab_url = url_for :controller => 'srg', :action => 'index', :id => @guide, :tab => tab.id%>
					<%= tab.id == @tab.id ? "<li id='current'>" : "<li>"%>
					<a href ="<%=@tab_url%>"> <span><%= tab.tab_name%></span> </a>
					</li>
			    <%end%>
			  </ul>
        	</div>
			<div id="main-inner">
		<%else%>
		    <div id="topLeft"></div>	
			<div id="main-inner" class = "no-tabs">	
        <%end%>
		
		<div id="content">
				<%unless @mods%>
		 			  <%=render :partial => 'two_columns' %> 
				<%else%>
		  			  <%=render :partial => 'one_column' %> 
				<%end%>
			    <%= render :partial => 'metadata'%>	
		   </div>
		</div> <!-- end content, end main-inner -->
	</div> <!-- end main -->








