<div id="main">
	<h1><%=@local.guide_page_title %> </h1>
	<div id="main-inner"><div id="content">	
	<a id="skip" name="skip"></a>	
		<div class="item">
			<h2>Browse by Tag Results</h2>
			<div class="module">
				<p>Guides tagged with: <b><%=@tag%></b></p>
					 <% for guide in @guides %>
					        <%guide_url = url_for :controller => 'srg', :action => 'index', :id => guide%>
					        <ul class = 'indent-left'>
					            <li class = 'undeco'><%= link_to guide.guide_name, guide_url, :title => "Click to view" %><br />
								<%=guide.description%> <small><b>Tags: </b><% guide.tag_list.each do |tag|%> <%= link_to tag, { :action => :tagged, :id => tag }%>  <%end%></small></li>
					        </ul>
					    <%end%>
				<p><%=image_tag("/images/icons/back.png", :title => 'Subject Guides', :alt => 'back')%> <a href ="/subject-guides/">Back to all Subject Guides</a></p>
			</div>
			<div class="bot"><div></div></div>
		</div>
	
	<div class="item">
		<%= render :partial => '/shared/tag_cloud'%>
	</div>
	</div></div> <!-- end content, end main-inner -->
</div> <!-- end main -->

<div id="sidebar-right">
	<%= render :partial => '/shared/right_side'%>
</div> <!-- end sidebar-right -->

<div id="sidebar-left"><div id="sidebar-left-inner">
	<%= render :partial => '/shared/left_side'%>
</div></div> <!-- end sidebar-left-inner, end sidebar-left -->
