 <div id="link_<%=link.id%>" class="link"> 
	<% new_or_existing = link.new_record? ? 'new' : 'existing' %> 
		<% prefix = "mod[#{new_or_existing}_link_attributes][]" %> 
		<% fields_for prefix, link do |link_form| -%> 
		
		   	<fieldset>
		   		<span class = 'handle' style = <%=new_or_existing == 'existing' ? "" : "display:none"%>><%=image_tag("/images/icons/move.png", :title => 'Drag and Drop', :alt => 'Drag and Drop', :border => 0)%>  </span>
				<div id="new_link_<%=link.id%>" style = <%=new_or_existing == 'new' ? "" : "display:none"%> >
					<h5>Web Link 
				    <%= link_to_function image_tag("/images/icons/remove.png", :alt => 'Remove', :border => 0), "$(this).up('.link').remove()" %>
				   </h5>
					<label for="mod_link_info" >Open link in a new window?  <span class = 'more_help' onMouseover="fixedtooltip(LINK_TARGET_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
					    Yes <%= link_form.radio_button :target, true %> No <%= link_form.radio_button :target, false %></label>
					<label for="mod_label">Link Text
					   <span class = 'more_help' onMouseover="fixedtooltip(NEW_LINK_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		             </label>
					    <%= link_form.text_field :label  %>
					<label for="mod_label">Link URL <span class="required">*</span>
					   <span class = 'more_help' onMouseover="fixedtooltip(NEW_URL_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		             </label>
					    <%= link_form.text_field :url, :value => link.url || "http://", :onfocus => ("if(value=='http://'){value=''}") %> 
					<label for="mod_link_info" >Link Description  <span class = 'more_help' onMouseover="fixedtooltip(LINK_DESC_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		            </label>  
					    <%= link_form.text_area :description, {:class => 'mceNoEditor', :size => '40x2'} %>
			    </div>
				<div id="ex_link_<%=link.id%>" style = <%=new_or_existing == 'existing' ? "" : "display:none"%> >
			    <h5>Link Preview
				    <%= link_to_function "edit", "$('ex_link_#{link.id}').toggle(); + $('new_link_#{link.id}').toggle();" %>
					|
					 <span class = 'more_help' onMouseover="fixedtooltip(LINK_MSSG, this, event, '');" onMouseout="delayhidetip();"><%= image_tag("/images/icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
		            |
				    <%= link_to_function image_tag("/images/icons/remove.png", :title => 'Click to remove this link', :alt => 'Remove', :border => 0), "$(this).up('.link').remove()" %>
				</h5>
			      <p> 
						<a href = "<%=link.url%>"><%= link.label.blank? ? h(link.url) : h(link.label) %></a>
				       <%unless link.description.blank?%><br /> <%=h(link.description)%><%end%>
				   </p>
			   </div>	
		  </fieldset>
		
	   <% end -%> 
   </div> 
